/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 01 11, 19, 4:21:10 AM
    Author     : jacosta
*/

@media only screen and (max-width: 768px) {
    .div1
    {
        padding: 0;
    }
    
    .navigator {
        right: 8vh;
    }
    
    .parralax
    {
        background-size: cover;
    }
}

@media only screen and (max-width: 736px) {
    .navigator li i {
        font-size: 20px;
        padding: 16px;
        margin: 5px;
        height: 50px;
        width: 50px;
    }
    
    .my-image {
        max-width: 150px;
    }
    
    .navigator {
        right: 3vh;
    }
    
    .work-wrapper span.name {
        font-size: 20px;
    }
    
    .work-wrapper span {
        font-size: 14px;
    }
}

@media only screen and (max-width: 320px) {

}